<a href="https://colab.research.google.com/github/endzix22/machine-learning-bootcamp/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd 
import sklearn 

np.random.seed(42)
np.set_printoptions(precision=6,suppress=True)

Wygenerowanie danych

In [3]:
pogoda = ['słonecznie', 'deszczowo', 'pochmurno', 'deszczowo', 'słonecznie', 'słonecznie',
          'pochmurno', 'pochmurno', 'słonecznie']
temperatura = ['ciepło', 'zimno', 'ciepło', 'ciepło', 'ciepło', 'umiarkowanie',
               'umiarkowanie', 'ciepło', 'zimno']

spacer = ['tak', 'nie', 'tak', 'nie', 'tak', 'tak', 'nie', 'tak', 'nie']      

raw_df = pd.DataFrame(data={'pogoda': pogoda, 'temperatura': temperatura, 'spacer': spacer})
df = raw_df.copy()
df

       pogoda   temperatura spacer
0  słonecznie        ciepło    tak
1   deszczowo         zimno    nie
2   pochmurno        ciepło    tak
3   deszczowo        ciepło    nie
4  słonecznie        ciepło    tak
5  słonecznie  umiarkowanie    tak
6   pochmurno  umiarkowanie    nie
7   pochmurno        ciepło    tak
8  słonecznie         zimno    nie

Przygotowanie danych do modelu

In [5]:
#zakodowanie targetu (kolumny:"spacer")
from sklearn.preprocessing import LabelEncoder 

encoder=LabelEncoder()
df['spacer']=encoder.fit_transform(spacer)

In [6]:
#kolumny pogoda,temp sa kategoryczne 
#zmienmy je na numeryczne 

df=pd.get_dummies(df,columns=['pogoda','temperatura'],drop_first=True)
df

,spacer,pogoda_pochmurno,pogoda_słonecznie,temperatura_umiarkowanie,temperatura_zimno
0,1,0,1,0,0
1,0,0,0,0,1
2,1,1,0,0,0
3,0,0,0,0,0
4,1,0,1,0,0
5,1,0,1,1,0
6,0,1,0,1,0
7,1,1,0,0,0
8,0,0,1,0,1

In [7]:
data=df.copy()
target=data.pop('spacer')
data

,pogoda_pochmurno,pogoda_słonecznie,temperatura_umiarkowanie,temperatura_zimno
0,0,1,0,0
1,0,0,0,1
2,1,0,0,0
3,0,0,0,0
4,0,1,0,0
5,0,1,1,0
6,1,0,1,0
7,1,0,0,0
8,0,1,0,1

In [8]:
target

0    1
1    0
2    1
3    0
4    1
5    1
6    0
7    1
8    0
Name: spacer, dtype: int64

Klaysyfikator bayesowski

czy wyjdziemy na spacer jesli pogoda jest sloneczna i temp. 'cieplo'

In [11]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(data, target)

GaussianNB()

In [12]:
model.score(data,target)

0.7777777777777778

Teraz chcemy dokonać predykcji na 1 wierszu

In [19]:
data.iloc[[0]]
#czyli wytniemy sobie z naszych danych 1 wiersz
#tak sie sklada, że odpowiada to naszemu zapytaniu z wykladu "czy mamy wyjsc na spacer"

,pogoda_pochmurno,pogoda_słonecznie,temperatura_umiarkowanie,temperatura_zimno
0,0,1,0,0

In [20]:
model.predict(data.iloc[[0]])

array([1])

In [22]:
encoder.classes_
#przypomnijmy sobie kodowanie naszego targetu

array(['nie', 'tak'], dtype='<U3')

In [24]:
encoder.classes_[model.predict(data.iloc[[0]])[0]]
#wytnijmy sobie te zapytanie, czy wyjdziemy na spacer i tak

'tak'

In [26]:
model.predict_proba(data.iloc[[0]])
#dokladne prawdopodobienstwo wyjscia jesli sloneczna pogoda

array([[0.000006, 0.999994]])